@model Avaliacao.Data.Models.Call

@{
    ViewData["Title"] = "Excluir cadastro de ligação";
}

    <h1>@ViewData["Title"]</h1>

<h3 class="text-danger">Tem certeza de que deseja excluir isso?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Begin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Begin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary"><i class="fa fa-save"></i> Excluir</button>
            <a asp-action="Index" class="btn btn-outline-success"><i class="fa fa-chevron-left"></i> Volver</a>
        </div>
    </form>
</div>
